# Local Prefect stack defaults for development.
PREFECT_API_PORT=4200
PREFECT_POSTGRES_DB=prefect
PREFECT_POSTGRES_USER=prefect
PREFECT_POSTGRES_PASSWORD=prefect
PREFECT_POSTGRES_PORT=5432
PREFECT_REDIS_PORT=6379
